@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu-300";
  src: url(../src/assets/fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "Ubuntu-400";
  src: url(../src/assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu-500";
  src: url(../src/assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: "Ubuntu-700";
  src: url(../src/assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: "Pixel";
  src: url(../src/assets/fonts/PressStart2P-Regular.ttf);
}

* {
  @apply p-0 m-0;
}

#root {
  @apply w-screen h-screen;
}
